<style>
    .footer {
        margin-top: auto;
        height: 20vh;
        background-color: #9799a059;
        color: black;
        text-align: center;
        justify-content: baseline;
        /*position: absolute;
        bottom: 0;*/
        width: 100%;
    }
</style>
        </div><!-- öppnas i header.mustache efter nav för header -->
    <div class="footer" style="padding-top: 20px;">
            <p>Kontakt: admin@auktion.se</p>
            <small>&copy; Copyright 2021, Group L</small>
    </div>   
</body>

</html>