{{>header}}

{{! bakgrundsbild }}

<div>
    <img src="https://cdn.discordapp.com/attachments/801024997321474080/822055601726291968/stuff.jpg" class="img-fluid" alt="background-image">
</div>

<div style="padding-top: 60px;">
    <h4>Populära kategorier</h4>
</div>

<div class="card-group" style="padding-top: 20px; padding-bottom: 13vh;">
    <style>
        .card-img-overlay {
            background-color: #9799a059;
            position: absolute;
            top: 70%;
            left: 8%;
        }
    </style>
    <div class="card bg-gradient text-white">
        <img src="https://cdn.discordapp.com/attachments/801024997321474080/822046836356808704/shoes3.jpg" class="card-img" alt="shoes">
        <a href="/auction/category/4/0" style="text-decoration: none; color: white">
            <div class="card-img-overlay">
                <h5 class="card-title">Skor</h5>
            </div>
        </a>
    </div>
    <div class="card bg-gradient text-white">
        <img src="https://cdn.discordapp.com/attachments/801024997321474080/822046831143682057/guitar3.jpg" class="card-img" alt="guitar">
        <a href="/auction/category/1/0" style="text-decoration: none; color: white">
            <div class="card-img-overlay">
                <h5 class="card-title">Instrument</h5>
            </div>
        </a>
    </div>
    <div class="card bg-gradient text-white">
        <img src="https://cdn.discordapp.com/attachments/801024997321474080/822053353658777630/clothes2.png" class="card-img" alt="clothes">
        <a href="/auction/category/2/0" style="text-decoration: none; color: white">
            <div class="card-img-overlay">
                <h5 class="card-title">Kläder</h5>
            </div>
        </a>
    </div>
</div>

{{>footer}}